{% extends "base.html" %}  <!-- hereda todo de base.html -->

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Productos</h2>
    <a href="/agregar" class="btn btn-success">+ Agregar producto</a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for p in productos %}
        <tr>
            <td>{{ p[0] }}</td>  <!-- id -->
            <td>{{ p[1] }}</td>  <!-- nombre -->
            <td>{{ p[2] }}</td>  <!-- categoria -->
            <td>${{ p[3] }}</td> <!-- precio -->
            <td>{{ p[4] }}</td>  <!-- stock -->
            <td>
                <a href="/editar/{{ p[0] }}" class="btn btn-warning btn-sm">Editar</a>
                <a href="/eliminar/{{ p[0] }}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}